<div class="container my-4 pb-5">
  <h3 class="mb-4 fw-semibold">Categories</h3>

  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let cat of categories$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="me-2">category</mat-icon>
          {{ cat.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ cat.products.length }} items
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div class="col" *ngFor="let item of cat.products">
          <app-product
            [name]="item.name"
            [imgPath]="item.imgPath"
            [price]="item.price"
            cardType="normal"
          ></app-product>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>