.small-card {
    width: 130px;
    .card-body {
        padding: 0.2rem;
    }
}

.normal-card {
    min-width: 130px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}